@model IEnumerable<Sam.ToolStock.Model.ViewModels.TableUserViewModel>

@{
    ViewBag.Title = "Index";
}

<div class="col-md-12">
    <div class="card">
        <div class="card-header">
            <strong class="card-title">Data Table</strong>
        </div>
        <div class="card-body">
            <table id="bootstrap-data-table" class="table table-striped table-bordered table-hover">
                <thead>
                <tr>
                    <th>FullName</th>
                    <th>Department</th>
                    <th>Role</th>
                    <th>Stock</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var user in Model)
                {
                    <tr class="table-row" data-href="#">
                        <td>@user.FullName</td>
                        <td>@user.Department</td>
                        <td>@user.Role</td>
                        <td>@user.Stock</td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
</div>
