<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/3abe5f1e-667a-4588-b455-71ee3c65725d/resourceGroups/ToolStock/providers/Microsoft.Web/sites/ToolStock</ResourceId>
    <ResourceGroup>ToolStock</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://toolstock.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>toolstock.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>ToolStock</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$ToolStock</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="ToolStock" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:toolstock.database.windows.net,1433;Initial Catalog=ToolStockDb;User ID=rockship@toolstock.database.windows.net;Password=SuneriSwan1" Name="Data Source=tcp:toolstock.database.windows.net,1433;Initial Catalog=ToolStockDb;User Id=rockship@toolstock.database.windows.net;Password=SuneriSwan1;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Sam.ToolStock.DataProvider.Contexts.ToolContext, Sam.ToolStock.DataProvider" MigrationConfiguration="Sam.ToolStock.DataProvider.Migrations.Configuration, Sam.ToolStock.DataProvider" Origin="Convention" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="ToolStock-Web.config Connection String">
      <ParameterValue>Data Source=tcp:toolstock.database.windows.net,1433;Initial Catalog=ToolStockDb;User Id=rockship@toolstock.database.windows.net;Password=SuneriSwan1;</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>