@model Sam.ToolStock.Model.ViewModels.PaginationViewModel

@{
    ViewBag.Title = Resources.Resource.AllTools;

    var outerCounter = 0;
}

<div class="col-sm-12">
    <div class="card">
        <div class="card-header">
            @{
                Html.RenderPartial("Searching", Model);
            }
        </div>
        <div id="results">
            @{
                Html.RenderPartial("Pagination", Model);
            }
        </div>
    </div>
</div>

@Html.Partial("_UserInfo")