@using Sam.ToolStock.Common
@model Sam.ToolStock.Model.ViewModels.PaginationViewModel

@{
    ViewBag.Title = Resources.Resource.AllTools;
}

<div class="col-sm-12">
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col d-flex align-items-center">
                    <strong class="card-title">@Resources.Resource.AllTools</strong>
                    @Html.ActionLink(@Resources.Resource.CreateNewTool, "Create", null, new { @class = "btn btn-primary ml-auto" })
                </div>
            </div>
            @{
                Html.RenderPartial("Searching", Model);
            }
        </div>
        <div id="results">
            @{
                Html.RenderPartial("Pagination", Model);
            }
        </div>
    </div>
</div>
