@model Sam.ToolStock.Model.ViewModels.ModalMessageViewModel

<div class="alert alert-@Model.MessageType col-12" role="alert">
    @Model.Message. @Html.ActionLink($"{Resources.Resource.ReturnTo} {Model.PageName}", Model.Action, Model.Controller)
</div>
